body{
    margin: 0;
    background-color:aliceblue;
    display: flex;
    justify-content: center;
    height:80vh;
    align-items: center;
    font-family: sans-serif;
}

.btn{
    text-decoration: none;
    background-color: pink;
    padding:15px 30px;
    color:black;
    font-size: 17px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,.3);
    position: relative;
    overflow: hidden;
}

.btn span{
    position: relative;
    z-index: 1;
}

.btn::before{
    content:"";
    position:absolute;
    background-color: orangered;
    width: 0px;
    height: 0px;
    left:var(--xPos);
    top:var(--yPos);
    transform: translate(-50%,-50%);
    border-radius: 50px;
    transition: width .5s, height .5s;
}

.btn:hover::before{
    width:200px;
    height: 200px;
    z-index: 1;

}